<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.tp4.board.mapper.BoardMapper">

    <insert id ="insert">
        insert into tbl_board(title, content, writer)
        values(#{title}, #{content}, #{writer})
        <selectKey order="AFTER" resultType="long" keyProperty="bno">
            select last_insert_id()
        </selectKey>
    </insert>


    <select id="getList" resultType="org.zerock.tp4.board.domain.Board">
<!--select는 resulttype이나 resultymap이 필요하다-->
        select * from tbl_board order by bno desc limit 0,100<!--조심, 세미콜론없다.그리고workbench에서확인필요-->
    </select>

    <select id ="select" resultType="org.zerock.tp4.board.domain.Board">
        select * from tbl_board where bno = #{bno}
    </select>

    <select id="getListWithPaging" resultType="org.zerock.tp4.board.domain.Board">
        <![CDATA[
        select bno, title, content,writer,regDate,modDate
        from (select bno,title, content, writer,regDate,modDate from tbl_board
        where bno <= #{pageNum}*#{amount} )A where bno >(#{pageNum}-1) * #{amount}
        ]]>
    </select>

    <delete id="delete">
        delete from tbl_board where bno = #{bno}
    </delete>

    <update id="update">
        update tbl_board set title = #{title}, content = #{content}, modDate = now()
        where bno = #{bno}
    </update>


</mapper>